<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>demo-收银台</title>
  <link rel="stylesheet" href="/php-sdk-demo/static/bootstrap.css"/>

</head>
<body>
  <div class="container" style="padding-bottom: 50px;">
    <form method="post" action="/php-sdk-demo/index.php/home/paygate">
      <fieldset>
        <legend>Required</legend>
        <div class="form-group">
          <label for="merchantId">Select Payment API</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="paygate" name="payment" value="paygate">
            <label class="form-check-label" for="paygate">UQPAY Payment Gateway</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" checked type="radio" id="cashier" name="payment" value="cashier">
            <label class="form-check-label" for="cashier">UQPAY Official Cashier</label>
          </div>
        </div>
        <div class="form-group">
          <label for="merchantId">Merchant ID</label>
          <input type="text" name="merchantId" class="form-control" id="merchantId" value=<?php echo $merchantId ?> />
        </div>
        <div class="form-group">
          <label for="tradeType">Trade Type</label>
          <input type="text" name="tradeType" class="form-control" id="tradeType" value="pay" readonly="readonly" />
        </div>
        <div class="form-group">
          <label for="date">Date(Unix timestamp)</label>
          <input type="text" name="date" class="form-control" id="date" value=<?php echo $date ?> required="required" />
        </div>
        <div class="form-group">
          <label for="orderId">Order ID</label>
          <input type="text" name="orderId" class="form-control" id="orderId" value=<?php echo $orderId ?> required="required" />
        </div>
        <div class="form-group">
          <label for="currency">Currency</label>
          <select name="currency" class="form-control" id="currency" required="required" >
            <option value="CNY">CNY</option>
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
            <option value="SGD">SGD</option>
          </select>
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" name="amount" class="form-control" id="amount" required="required" />
        </div>
        <div class="form-group">
          <label for="transName">Goods Info</label>
          <input type="text" name="transName" class="form-control" id="transName" value="goods from uqpay demo" required="required" />
        </div>
        <div class="form-group">
          <label for="callbackUrl">Back URL</label>
          <input type="url" name="callbackUrl" class="form-control" id="callbackUrl" value="https://cashier.uqpay.cn/demo/async" required="required" />
        </div>
        <div class="form-group">
          <label for="returnUrl">Front URL</label>
          <input type="url" name="returnUrl" class="form-control" id="returnUrl" value="https://cashier.uqpay.cn/demo/sync?orderId=<?php echo $orderId ?>" required="required" />
        </div>
      </fieldset>
      <hr />
      <fieldset>
        <legend>RSA</legend>
        <div class="form-group">
          <label for="quantity">Merchant Private RSA KEY</label>
          <textarea class="form-control" name="rsaPrivate"></textarea>
        </div>
        <div class="form-group">
          <label for="quantity">UQPAY Public RSA KEY</label>
          <textarea class="form-control" name="rsaPublic"></textarea>
        </div>
      </fieldset>
      <fieldset>
        <legend>Optional</legend>
        <div class="form-group">
          <label for="quantity">Quantity of Goods</label>
          <input type="number" name="quantity" class="form-control" id="quantity" th:value="0" />
        </div>
        <div class="form-group">
          <label for="storeId">Merchant Store ID</label>
          <input type="number" name="storeId" class="form-control" id="storeId" th:value="0" />
        </div>
        <div class="form-group">
          <label for="seller">Merchant Seller ID</label>
          <input type="number" name="seller" class="form-control" id="seller" th:value="0" />
        </div>
        <div class="form-group">
          <label for="channelInfo">Merchant Reserved Field For Channel (Json String)</label>
          <textarea rows="3" name="channelInfo" class="form-control" id="channelInfo" ></textarea>
        </div>
        <div class="form-group">
          <label for="extendInfo">Merchant Reserved Field (json String)</label>
          <textarea rows="3" name="extendInfo" class="form-control" id="extendInfo" ></textarea>
        </div>
      </fieldset>
      <div style="width: 100%; position: fixed; background: #fff; height: 50px; bottom: 0; left: 0; padding-top: 5px; border-top: 1px solid #999">
        <div class="container text-right">
          <button type="submit" class="btn btn-primary">Go！Pay Now</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>