<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>demo-收银台</title>
  <link rel="stylesheet" href="/javaer/static/bootstrap.css"/>

</head>
<body>
  <div class="container" style="padding-bottom: 50px;">
    <form method="post" action="/javaer/index.php/home/paygate">
      <fieldset>
        <legend>必填项</legend>
        <div class="form-group">
          <label for="merchantId">选择付款途径</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="paygate" name="payment" value="paygate">
            <label class="form-check-label" for="paygate">支付网关</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" checked type="radio" id="cashier" name="payment" value="cashier">
            <label class="form-check-label" for="cashier">官方收银台</label>
          </div>
        </div>
        <div class="form-group">
          <label for="merchantId">商户ID</label>
          <input type="text" name="merchantId" class="form-control" id="merchantId" value=<?php echo $merchantId ?> />
        </div>
        <div class="form-group">
          <label for="tradeType">交易类型</label>
          <input type="text" name="tradeType" class="form-control" id="tradeType" value="pay" readonly="readonly" />
        </div>
        <div class="form-group">
          <label for="date">订单日期(Unix时间戳)</label>
          <input type="text" name="date" class="form-control" id="date" value=<?php echo $date ?> required="required" />
        </div>
        <div class="form-group">
          <label for="orderId">商户订单号</label>
          <input type="text" name="orderId" class="form-control" id="orderId" value=<?php echo $orderId ?> required="required" />
        </div>
        <div class="form-group">
          <label for="currency">币种</label>
          <select name="currency" class="form-control" id="currency" required="required" >
            <option value="CNY">人民币</option>
            <option value="USD">美元</option>
            <option value="GBP">英镑</option>
            <option value="SGD">新加坡元</option>
          </select>
        </div>
        <div class="form-group">
          <label for="amount">金额</label>
          <input type="text" name="amount" class="form-control" id="amount" required="required" />
        </div>
        <div class="form-group">
          <label for="transName">商品信息</label>
          <input type="text" name="transName" class="form-control" id="transName" value="收银台demo商品" required="required" />
        </div>
        <div class="form-group">
          <label for="callbackUrl">异步回调地址</label>
          <input type="url" name="callbackUrl" class="form-control" id="callbackUrl" value="https://cashier.uqpay.cn/demo/async" required="required" />
        </div>
        <div class="form-group">
          <label for="returnUrl">同步返回地址</label>
          <input type="url" name="returnUrl" class="form-control" id="returnUrl" value="https://cashier.uqpay.cn/demo/sync?orderId=<?php echo $orderId ?>" required="required" />
        </div>
      </fieldset>
      <hr />
      <fieldset>
        <legend>密钥</legend>
        <div class="form-group">
          <label for="quantity">商户私钥</label>
          <textarea class="form-control" name="rsaPrivate"></textarea>
        </div>
        <div class="form-group">
          <label for="quantity">UQPAY公玥</label>
          <textarea class="form-control" name="rsaPublic"></textarea>
        </div>
      </fieldset>
      <fieldset>
        <legend>选填</legend>
        <div class="form-group">
          <label for="quantity">商品数量</label>
          <input type="number" name="quantity" class="form-control" id="quantity" th:value="0" />
        </div>
        <div class="form-group">
          <label for="storeId">店铺ID</label>
          <input type="number" name="storeId" class="form-control" id="storeId" th:value="0" />
        </div>
        <div class="form-group">
          <label for="seller">销售员ID</label>
          <input type="number" name="seller" class="form-control" id="seller" th:value="0" />
        </div>
        <div class="form-group">
          <label for="channelInfo">渠道补充信息(json格式)</label>
          <textarea rows="3" name="channelInfo" class="form-control" id="channelInfo" ></textarea>
        </div>
        <div class="form-group">
          <label for="extendInfo">扩展信息(json格式)</label>
          <textarea rows="3" name="extendInfo" class="form-control" id="extendInfo" ></textarea>
        </div>
      </fieldset>
      <div style="width: 100%; position: fixed; background: #fff; height: 50px; bottom: 0; left: 0; padding-top: 5px; border-top: 1px solid #999">
        <div class="container text-right">
          <button type="submit" class="btn btn-primary">走！付钱去</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>