<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>支付网关 demo </title>
  <link rel="stylesheet" href="/javaer/static/bootstrap.css"/>
</head>
<body>
<div class="container" style="padding-bottom: 50px;">
  <form method="post" action="/javaer/index.php/home/pay">
    <div class="form-group" id="container">
      <label for="method">支付方式</label>
      <select name="methodId" class="form-control" id="method" required="required" >
      <?php if ($methodId == 1001): ?>
        <option selected value="1001">UnionPayQR(暂不支持)</option>
      <?php else: ?>
       <option value="1001">UnionPayQR(暂不支持)</option>
      <?php endif; ?>
      <?php if ($methodId == 1002): ?>
        <option selected value="1002">AlipayQR(暂不支持)</option>
      <?php else: ?>
        <option value="1002">AlipayQR(暂不支持)</option>
      <?php endif; ?>
      <?php if ($methodId == 1003): ?>
       <option selected value="1003">WeChatQR</option>
      <?php else: ?>
       <option value="1003">WeChatQR</option>
      <?php endif; ?>
      <?php if ($methodId == 1102): ?>
             <option selected value="1102">WeChatH5(微信内公众号支付)</option>
      <?php else: ?>
       <option value="1102">WeChatH5(微信内公众号支付)</option>
      <?php endif; ?>
      <?php if ($methodId == 1100): ?>
       <option selected value="1100">UnionPayOnline(暂不支持)</option>
      <?php else: ?>
       <option value="1100">UnionPayOnline(暂不支持)</option>
      <?php endif; ?>
      <?php if ($methodId == 1200): ?>
       <option selected value="1200">VISA</option>
      <?php else: ?>
       <option value="1200">VISA</option>
      <?php endif; ?>
      <?php if ($methodId == 1250): ?>
       <option selected value="1250">VISA3D</option>
      <?php else: ?>
       <option value="1250">VISA3D</option>
      <?php endif; ?>
      <?php if ($methodId == 1201): ?>
       <option selected value="1201">Master</option>
      <?php else: ?>
       <option value="1201">Master</option>
      <?php endif; ?>
      <?php if ($methodId == 1251): ?>
       <option selected value="1251">Master3D</option>
      <?php else: ?>
       <option value="1251">Master3D</option>
      <?php endif; ?>
      <?php if ($methodId == 1202): ?>
        <option selected value="1202">UnionPay</option>
      <?php else: ?>
        <option value="1202">UnionPay</option>
      <?php endif; ?>
      <?php if ($methodId == 1203): ?>
        <option selected value="1203">AMEX</option>
      <?php else: ?>
        <option value="1203">AMEX</option>
      <?php endif; ?>
      <?php if ($methodId == 1204): ?>
        <option selected value="1204">JCB</option>
      <?php else: ?>
        <option value="1204">JCB</option>
      <?php endif; ?>
     <?php if ($methodId == 1300): ?>
        <option selected value="1300">PayPal(暂不支持)</option>
     <?php else: ?>
        <option value="1300">PayPal(暂不支持)</option>
     <?php endif; ?>
     <?php if ($methodId == 1301): ?>
        <option selected value="1301">Alipay</option>
     <?php else: ?>
        <option value="1301">Alipay</option>
     <?php endif; ?>
     <?php if ($methodId == 1501): ?>
        <option selected value="1501">AlipayWap</option>
     <?php else: ?>
        <option value="1501">AlipayWap</option>
     <?php endif; ?>
      </select>
      <div style="display: none" id="creditCardForm">
        <p id="creditCardMessage">请输入对应卡组织的支付卡信息</p>
        <div class="form-group row">
          <label for="cardNum" class="col-sm-3 col-form-label">卡号</label>
          <div class="col-sm-9 input-group">
            <input type="text" class="form-control form-control-lg" id="cardNum" name="cardNum" placeholder="Card No." required="required" />
            <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img id="cardType" width="48" src="/javaer/static/images/method/CreditCard.jpg" alt="" />
                  </span>
            </div>
            <div id="cardNumValid" class="invalid-feedback"></div>
          </div>
        </div>
        <div class="form-group row">
          <label for="firstName" class="col-sm-3 col-form-label">持卡人</label>
          <div class="col-sm-9" style="display: flex">
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="firstName" required="required" />
            &nbsp;&nbsp;
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="lastName" required="required" />
          </div>
        </div>
        <div class="form-group row">
          <label for="cvv" class="col-sm-3 col-form-label">cvv</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="cvv" name="cvv" placeholder="cvv" required="required" />
          </div>
        </div>
        <div class="form-group row">
          <label for="expireMonth" class="col-sm-3 col-form-label">卡有效期至</label>
          <div class="col-sm-9" style="display: flex">
            <input type="text" class="form-control" id="expireMonth" name="expireMonth" placeholder="Expire Month" required="required" />
            &nbsp;&nbsp;
            <input type="text" class="form-control" id="expireYear" name="expireYear" placeholder="Expire Year" required="required" />
          </div>
        </div>
        <div class="form-group row">
          <label for="phone" class="col-sm-3 col-form-label">银行预留电话号</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required="required" />
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="required" />
          </div>
        </div>
        <div class="form-group row">
          <label for="address" class="col-sm-3 col-form-label">账单地址</label>
          <div class="col-sm-9 address-controls">
            <textarea rows="3" type="text" class="form-control" id="address" name="address" placeholder="Address" required="required" ></textarea>
            <select class="form-control" id="addressCountry" name="addressCountry" placeholder="Country" required="required">
              <option value="">&nbsp;Country Or Region </option>
            </select>
            <input type="text" class="form-control" id="addressState" name="addressState" placeholder="State, Region or Province" required="required" />
            <input type="text" class="form-control" id="addressCity" name="addressCity" placeholder="City" required="required" />
            <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip" required="required" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-9 offset-sm-3">
            <button class="btn btn-primary" type="submit" th:inline="text"><i class="fas"></i>&nbsp;Pay Now&nbsp;</button>
          </div>
        </div>
      </div>
    </div>
    <?php if($scenes == 'QRCode') : ?>
    <div>
      <img width="235" height="235" src="<?php echo $result->QRCodeUrl ?>" src="/javaer/static/images/loading.gif" alt="QR" />
    </div>
    <?php endif; ?>
    <?php if($scenes == 'CreditCard') : ?>
    <div>
      <p>订单状态：<span th:text="${result.state}"></span></p>
      <p>订单号：<span th:text="${result.orderId}"></span></p>
      <p>UQPAY订单号：<span th:text="${result.uqOrderId}"></span></p>
    </div>
    <?php endif; ?>
    <?php if($scenes == 'InAPP') : ?>
    <div>
      <p>Accept Code: <span text="<?php $result['acceptCode'] ?>"></span></p>
    </div>
    <?php endif; ?>
    <?php if($result == null) : ?>
    <div style="width: 100%; position: fixed; background: #fff; height: 50px; bottom: 0; left: 0; padding-top: 5px; border-top: 1px solid #999">
      <div class="container text-right">
        <button type="submit" class="btn btn-primary">走！付钱去</button>
      </div>
    </div>
    <?php endif; ?>
  </form>
</div>
<script type='text/javascript' src='/javaer/static/jquery.min.js'></script>
<script>
  $(function () {
    const countries = [{ code: 'DE', name: 'Germany', name_zh_cn: '德国' }, { code: 'PR', name: 'Puerto Rico', name_zh_cn: '波多黎哥' }, {
      code: 'TW',
      name: 'Taiwan(China)',
      name_zh_cn: '中国台湾',
    }, { code: 'HK', name: 'Hong Kong(China)', name_zh_cn: '中国香港' }, { code: 'PT', name: 'Portugal', name_zh_cn: '葡萄牙' }, {
      code: 'HN',
      name: 'Honduras',
      name_zh_cn: '洪都拉斯',
    }, { code: 'DK', name: 'Denmark', name_zh_cn: '丹麦' }, { code: 'LT', name: 'Lithuania', name_zh_cn: '立陶宛' }, {
      code: 'PY',
      name: 'Paraguay',
      name_zh_cn: '巴拉圭',
    }, { code: 'LU', name: 'Luxembourg', name_zh_cn: '卢森堡' }, { code: 'HR', name: 'Croatia', name_zh_cn: '克罗地亚' }, {
      code: 'LV',
      name: 'Latvia',
      name_zh_cn: '拉脱维亚',
    }, { code: 'DO', name: 'Dominican Republic', name_zh_cn: '多米尼加共和国' }, { code: 'YE', name: 'Yemen', name_zh_cn: '也门' }, {
      code: 'UA',
      name: 'Ukraine',
      name_zh_cn: '乌克兰',
    }, { code: 'HU', name: 'Hungary', name_zh_cn: '匈牙利' }, { code: 'LY', name: 'Libya', name_zh_cn: '利比亚' }, {
      code: 'QA',
      name: 'Qatar',
      name_zh_cn: '卡塔尔',
    }, { code: 'MA', name: 'Morocco', name_zh_cn: '摩洛哥' }, { code: 'DZ', name: 'Algeria', name_zh_cn: '阿尔及利亚' }, {
      code: 'ME',
      name: 'Montenegro',
      name_zh_cn: '黑山',
    }, { code: 'ID', name: 'Indonesia', name_zh_cn: '印度尼西亚' }, { code: 'IE', name: 'Ireland', name_zh_cn: '爱尔兰' }, {
      code: 'US',
      name: 'United States',
      name_zh_cn: '美国',
    }, { code: 'EC', name: 'Ecuador', name_zh_cn: '厄瓜多尔' }, { code: 'MK', name: 'Macedonia', name_zh_cn: '马其顿王国' }, {
      code: 'EE',
      name: 'Estonia',
      name_zh_cn: '爱沙尼亚',
    }, { code: 'EG', name: 'Egypt', name_zh_cn: '埃及' }, { code: 'IL', name: 'Israel', name_zh_cn: '以色列' }, {
      code: 'AE',
      name: 'United Arab Emirates',
      name_zh_cn: '阿拉伯联合酋长国',
    }, { code: 'UY', name: 'Uruguay', name_zh_cn: '乌拉圭' }, { code: 'IN', name: 'India', name_zh_cn: '印度' }, { code: 'MT', name: 'Malta', name_zh_cn: '马耳他' }, {
      code: 'ZA',
      name: 'South Africa',
      name_zh_cn: '南非',
    }, { code: 'IQ', name: 'Iraq', name_zh_cn: '伊拉克' }, { code: 'IS', name: 'Iceland', name_zh_cn: '冰岛' }, { code: 'MX', name: 'Mexico', name_zh_cn: '墨西哥' }, {
      code: 'AL',
      name: 'Albania',
      name_zh_cn: '阿尔巴尼亚',
    }, { code: 'IT', name: 'Italy', name_zh_cn: '意大利' }, { code: 'MY', name: 'Malaysia', name_zh_cn: '马来西亚' }, {
      code: 'ES',
      name: 'Spain',
      name_zh_cn: '西班牙',
    }, { code: 'VE', name: 'Venezuela', name_zh_cn: '委内瑞拉' }, { code: 'AR', name: 'Argentina', name_zh_cn: '阿根廷' }, {
      code: 'AT',
      name: 'Austria',
      name_zh_cn: '奥地利',
    }, { code: 'AU', name: 'Australia', name_zh_cn: '澳大利亚' }, { code: 'VN', name: 'Vietnam', name_zh_cn: '越南' }, {
      code: 'NI',
      name: 'Nicaragua',
      name_zh_cn: '尼加拉瓜',
    }, { code: 'RO', name: 'Romania', name_zh_cn: '罗马尼亚' }, { code: 'NL', name: 'Netherlands', name_zh_cn: '荷兰' }, {
      code: 'BA',
      name: 'Bosnia and Herzegovina',
      name_zh_cn: '波斯尼亚和黑山共和国',
    }, { code: 'NO', name: 'Norway', name_zh_cn: '挪威' }, { code: 'RS', name: 'Serbia', name_zh_cn: '塞尔维亚' }, {
      code: 'BE',
      name: 'Belgium',
      name_zh_cn: '比利时',
    }, { code: 'FI', name: 'Finland', name_zh_cn: '芬兰' }, { code: 'RU', name: 'Russia', name_zh_cn: '俄罗斯' }, {
      code: 'JO',
      name: 'Jordan',
      name_zh_cn: '约旦',
    }, { code: 'BG', name: 'Bulgaria', name_zh_cn: '保加利亚' }, { code: 'BH', name: 'Bahrain', name_zh_cn: '巴林' }, {
      code: 'JP',
      name: 'Japan',
      name_zh_cn: '日本',
    }, { code: 'NZ', name: 'New Zealand', name_zh_cn: '新西兰' }, { code: 'FR', name: 'France', name_zh_cn: '法国' }, {
      code: 'BO',
      name: 'Bolivia',
      name_zh_cn: '玻利维亚',
    }, { code: 'SA', name: 'Saudi Arabia', name_zh_cn: '沙特阿拉伯' }, { code: 'BR', name: 'Brazil', name_zh_cn: '巴西' }, {
      code: 'SD',
      name: 'Sudan',
      name_zh_cn: '苏丹',
    }, { code: 'SE', name: 'Sweden', name_zh_cn: '瑞典' }, { code: 'SG', name: 'Singapore', name_zh_cn: '新加坡' }, {
      code: 'SI',
      name: 'Slovenia',
      name_zh_cn: '斯洛文尼亚',
    }, { code: 'BY', name: 'Belarus', name_zh_cn: '白俄罗斯' }, { code: 'SK', name: 'Slovakia', name_zh_cn: '斯洛伐克' }, {
      code: 'GB',
      name: 'United Kingdom',
      name_zh_cn: '英国',
    }, { code: 'OM', name: 'Oman', name_zh_cn: '阿曼' }, { code: 'CA', name: 'Canada', name_zh_cn: '加拿大' }, {
      code: 'SV',
      name: 'El Salvador',
      name_zh_cn: '萨尔瓦多',
    }, { code: 'CH', name: 'Switzerland', name_zh_cn: '瑞士' }, { code: 'SY', name: 'Syria', name_zh_cn: '叙利亚' }, {
      code: 'KR',
      name: 'South Korea',
      name_zh_cn: '韩国',
    }, { code: 'CL', name: 'Chile', name_zh_cn: '智利' }, { code: 'GR', name: 'Greece', name_zh_cn: '希腊' }, { code: 'CN', name: 'China', name_zh_cn: '中国' }, {
      code: 'CO',
      name: 'Colombia',
      name_zh_cn: '哥伦比亚',
    }, { code: 'KW', name: 'Kuwait', name_zh_cn: '科威特' }, { code: 'GT', name: 'Guatemala', name_zh_cn: '危地马拉' }, {
      code: 'CR',
      name: 'Costa Rica',
      name_zh_cn: '哥斯达黎加',
    }, { code: 'CS', name: 'Serbia and Montenegro', name_zh_cn: '塞尔维亚及黑山' }, { code: 'PA', name: 'Panama', name_zh_cn: '巴拿马' }, {
      code: 'CU',
      name: 'Cuba',
      name_zh_cn: '古巴',
    }, { code: 'TH', name: 'Thailand', name_zh_cn: '泰国' }, { code: 'PE', name: 'Peru', name_zh_cn: '秘鲁' }, {
      code: 'CY',
      name: 'Cyprus',
      name_zh_cn: '塞浦路斯',
    }, { code: 'LB', name: 'Lebanon', name_zh_cn: '黎巴嫩' }, { code: 'CZ', name: 'Czech Republic', name_zh_cn: '捷克共和国' }, {
      code: 'PH',
      name: 'Philippines',
      name_zh_cn: '菲律宾',
    }, { code: 'TN', name: 'Tunisia', name_zh_cn: '突尼斯' }, { code: 'PL', name: 'Poland', name_zh_cn: '波兰' }, { code: 'TR', name: 'Turkey', name_zh_cn: '土耳其' }];
    const $addressCountry = $('#addressCountry');
    const option = "<option value='{val}'>{label}</option>";
    countries.forEach(function (value) {
      const label = document.cookie.indexOf("locale=zh_CN") > -1 ? value.name_zh_cn : value.name;
      $addressCountry.append(option.replace('{val}',value.code).replace('{label}', label));
    })
    const creditCardMethodId = [1200, 1250, 1201, 1251, 1202, 1203, 1204];
    const $creditCardForm = $("#creditCardForm");
    $("#method").change(function () {
      var methodID = $(this).val();
      if (creditCardMethodId.indexOf(parseInt(methodID, 10)) > -1) {
        $creditCardForm.css('display', 'block');
        $creditCardForm.appendTo($('#container'));
      } else {
        $creditCardForm.css('display', 'none');
        $creditCardForm.detach();
      }
    })
  })
</script>
</body>
</html>