<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>demo-一码付-收银台</title>
  <link rel="stylesheet" href="/php-sdk-demo/static/bootstrap.css"/>
</head>
<body>
<div class="container" style="padding-bottom: 50px;">
  <h2>生成一码付的收款码</h2>
  <form th:if="${form}" method="post" action="/demo/static">
    <fieldset>
      <legend>必填项</legend>
      <div class="form-group">
        <label for="merchantId">商户ID</label>
        <input type="text" name="merchantId" class="form-control" id="merchantId" th:value="${merchantId}" readonly="readonly" />
      </div>
      <div class="form-group">
        <label for="tradeType">交易类型</label>
        <input type="text" name="tradeType" class="form-control" id="tradeType" value="pay" readonly="readonly" />
      </div>
      <div class="form-group">
        <label for="currency">币种</label>
        <select name="currency" class="form-control" id="currency" required="required" >
          <option value="CNY">人民币</option>
          <option value="USD">美元</option>
          <option value="GBP">英镑</option>
          <option value="SGD">新加坡元</option>
        </select>
      </div>
      <div class="form-group">
        <label for="transName">商品信息</label>
        <input type="text" name="transName" class="form-control" id="transName" value="收款(一码付)" required="required" />
      </div>
      <div class="form-group">
        <label for="callbackUrl">异步回调地址</label>
        <input type="url" name="callbackUrl" class="form-control" id="callbackUrl" value="https://cashier.uqpay.cn/demo/async" required="required" />
      </div>
      <div class="form-group">
        <label for="returnUrl">同步返回地址</label>
        <input type="url" name="returnUrl" class="form-control" id="returnUrl" value="https://cashier.uqpay.cn/demo/sync" required="required" />
      </div>
    </fieldset>
    <hr />
    <fieldset>
      <legend>选填</legend>
      <div class="form-group">
        <label for="storeId">店铺ID</label>
        <input type="number" name="storeId" class="form-control" id="storeId" th:value="0" />
      </div>
      <div class="form-group">
        <label for="seller">销售员ID</label>
        <input type="number" name="seller" class="form-control" id="seller" th:value="0" />
      </div>
      <div class="form-group">
        <label for="channelInfo">渠道补充信息(json格式)</label>
        <textarea rows="3" name="channelInfo" class="form-control" id="channelInfo" />
      </div>
      <div class="form-group">
        <label for="extendInfo">扩展信息(json格式)</label>
        <textarea rows="3" name="extendInfo" class="form-control" id="extendInfo" />
      </div>
    </fieldset>
    <div style="width: 100%; position: fixed; background: #fff; height: 50px; bottom: 0; left: 0; padding-top: 5px; border-top: 1px solid #999">
      <div class="container text-right">
        <button type="submit" class="btn btn-primary">生成收款码</button>
      </div>
    </div>
  </form>
  <div th:if="${qr != null}" style="margin: 0 auto; width: 600px; position: relative;">
    <img style="position: absolute; top: 0; left: 0; width: 100%; border: 1px solid #666" src="/images/qrbg.jpg" alt="" />
    <img style="position: absolute; top: 430px; left: 150px; width: 300px;" alt="一码付收款码" th:src="'data:image/png;base64,' + ${qr}" />
  </div>
</div>
</body>
</html>