html,body{
  height: 100%;
}
body {
  padding-top: 1.5rem;
  background: #f0f3f98c;
}
.name-container {
  display: flex;
  justify-content: center;
  .merchant-name-ico {
    display: block;
    width: 40px;
    background: #4285f4;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    i {
      line-height: 40px;
    }
  }
  h2 {
    width: 280px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.amount-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #999;
  height: 65px;
  margin: 30px 20px 0 20px;
  border-radius: 5px;
  padding: 0 10px;
  background: #fff;
  p {
    flex-grow: 1;
    margin-bottom: 0;
    padding: 0 10px;
    font-size: 1.5rem;
  }
  .amount-input-label {
    color: #999;
  }
}
.number-keyboard {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #999;
  background: #fff;
  .number-box-list {
    flex: 3;
    border-right: 1px solid #999;
  }
  .number-box-action {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .number-box-list-group {
    display: flex;
    justify-content: center;
    align-items: center;
    & + .number-box-list-group {
      border-top: 1px solid #999;
    }
    &.key-size-1 {
      flex: 1;
    }
    &.key-primary {
      background: #4285f4;
      .number-key {
        color: #fff;
      }
    }
  }
  .number-key {
    flex: 1;
    &.key-size-2 {
      flex: 2;
    }
    &.key-size-0 {
      flex: 0;
    }
    &.key-border-left {
      border-left: 1px solid #999;
    }
    &.key-border-right {
      border-right: 1px solid #999;
    }
    &.key-border-bottom {
      border-bottom: 1px solid #999;
    }
    &.key-no-height {
      height: auto;
      line-height: 1.2;
    }
    margin-bottom: 0;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: 200;
    transition: all linear .1s;
    &:active {
      background: #4285f4;
      color:#fff;
    }
  }
}

.method-group {
  margin: 30px 20px 0 20px;
}